body{
    font-family: 'Electrolize', sans-serif;
    background-color: bisque;
    background-image: url("../photos/triangles.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-blend-mode: normal;

}
.container{
    font-family: 'Electrolize', sans-serif;

}
.heading{
    color: #9B2168;
    text-shadow: #9B2168;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: bold;
}
.text1{
    color: #B8E9E3;
    font-size: 20px;
}

a:link{
    text-decoration: none;
    color: #9B2168;
}
a:visited{
    text-decoration: none;
    color: #9B2168;
}